ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position:relative;
}

ion-card {
  box-shadow: 1px 0 gray, 0 1px gray, -1px 0 gray, 0 -1px gray;
}

ion-card-header img {
  border-top-left-radius: 100px 70px;
  border-top-right-radius: 100px 70px;
}



