ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position:relative;
}

.empty {
  width:100%;
  height:100px;
}

ion-footer ion-col {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c; 
  
}