ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position:relative;
}

ion-card {
  box-shadow: 1px 0 lightgray, 0 1px lightgray, -1px 0 lightgray, 0 -1px lightgray;
              border-top-left-radius: 80px 70px;
              border-top-right-radius: 80px 70px;
}

ion-card-header {
  margin:0;
  padding: 0;
}

ion-spinner {
  margin:0 auto;
  width: 80px;
  height: 80px;
}



